@charset "UTF-8";

/* Configurações para telas em pé */

body {
    background-image: url('../images/cev-portrait.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}