@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    width: 500px;
}

thead {
    background-color: gray;
    color: white;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

.disciplinas {
    text-align: left;
}

th.media, .media {
    text-align: left;
    background-color: gray;
    color: white;
    font-weight: bold;
}

tbody td, .notas {
    text-align: center;
}